
*  
{ 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; 
} 
body { 
  /* Image Location */ 
  

  /* Background image is centered vertically and horizontally at all times */ 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: absolute; 
  background-size: cover; 
  background-color: #464646; 
  /* Font Colour */ 
  color:white; 
} 
section{
  position: relative;;
  
}
nav{
  height: 80px;
  width: 100%;
  background: #34495e;
}
label.logo{
  font-size:  35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

label.logo:hover {
  color: rgb(110, 84, 226)
}

nav ul{
  float: right;
  margin-right: 40px;
}
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a{
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
nav a:hover {
  border: 1px solid white;
  transition:  .5s;
} 
.active {
  color: rgb(238, 228, 228);
} 
nav #icon{
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul{
    margin-right: 20px;
}
nav a{
  font-size: 17px;
}
}
@media (max-width: 909px){
  nav #icon{
    display: block; 
  }
nav ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2f3640;
  top: 80px;
  left: -100px;
  text-align: center;
  transition: all .5s;
}
nav li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav a{
  font-size: 20px;
}
nav a:hover{
  border: none;
  color: #3498db;
}

}



